<connectionStrings>
  <add name="test" connectionString="Data Source=PANKAJTHAKUR\SQLEXPRESS;Initial Catalog=TestDb;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ConnectionString" connectionString="Data Source=PANKAJTHAKUR\SQLEXPRESS;Initial Catalog=TestDb;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
