<appSettings>
  <!--Use for Email sending-->
  <add key="smtpserver" value="smtp.gmail.com" />
  <add key="portnumber" value="587" />
  <add key="emailsender" value="ptpthakur30@gmail.com" />
  <add key="password" value="#Mysuccess92" />
  <add key="IsSSL" value="true" />
  <add key="CronValue" value="*/30 * * * *" />
  <add key="RemoveJob" value="False" />
  <add key="EmailSenderJobName" value="EmailSenderJobName" />
  <add key="owin:appStartup" value="ProductionConfiguration" />
</appSettings>